<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuration pour Lavaplayer -->
    <logger name="com.sedmelluq.discord.lavaplayer" level="TRACE" />
    <logger name="com.github.topi314.lavasrc" level="TRACE" />
    <logger name="com.MellianBot" level="TRACE" />

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
